/* Reset */
* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #7a1a1a;
  background-color: #88181d; 

.container {
  text-align:center
  max-width: 960px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 6px;
  padding: 20px;
  color: #555;
}

header p {
  font-size: 1.1rem;
  color: #555;
  margin-top: -50px;
  margin-bottom: 50px;
}

header img {
  margin-bottom: 20px;
}

section {
  margin: 10px;
  text-align:center
}

section img {
  max-width: 100%;
  border-radius: 10px;
  text-align: center;
}

section h2 {
  border-left: 5px solid #86151b;
  border-right: 5px solid #88181d;
  margin-bottom: 40px;
  padding-left: 10px;
  font-size: 58px;
}

section p {
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
}

section blockquote {
  text-align: center;
  color: #333;
  border-left: 5px solid #490f0f;
  border-right: 5px solid #490f0f;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
}

section blockquote p {
  text-align:center
  margin-left: 10px;
}
#zim{
 display: flex;
 justify-content: center;
}

#naum{
  display: flex;
  justify-content: center;
}

#claro{
  text-align: center;
}

#socorro{
  margin-top: 50px;
  text-align: center;
}

#gigante{
  margin-top: 50px;
}

#natureza{
  margin-top: 50px;
}